/test.testpolicy.xml
/com.stackoverflow.xacml.accessPages.xml
/regexTest.matchResources.xml
/stackoverflow.example.xml
/policysetTest.accessMedicalRecord.xml
/policysetTest.global.xml
/policysetTest.progressNotes.xml
